Source: qtcw
Section: user/education
Priority: extra
Maintainer: Wes Hardaker <wjhns177@hardakers.net>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.2
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGP
 C/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUw
 AADqYAAAOpgAABdwnLpRPAAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAL
 EwAACxMBAJqcGAAAAAl2cEFnAAAAMAAAADAAzu6MVwAACbtJREFUaN7Fmnts
 lFUaxn/fzPQC0xZLaWkFXKuAF1oUqEEQRIFVuaiAXCNEIEgqlxVWl0UwsLjg
 BaNGos6qgKJ2F1gLAoHSRAmiWGmyAQHXLhQRbadpLaWXGcq003n2j9OGAp3S
 0o4+yZs28+V853kv57zvec9ncQ2QtgETgP+NhNUR0H815N8JuUA+UI7PJ2pq
 wLIgPBzCwy0gHugN3FUHcZ9Cycew3Atd98NBLOueVnOxWk46F1gDfAZsvw/2
 joaapyDXWVV10srL83PypHC7oaQEvF6orjYKdOgAUVGQmAjdukHv3ha9e4fT
 oUMfQVo5xL4Pj2TB4P2QDjyHZd14LbYNRn4JkiKlN3pKizOl1J+qqpKUk4OW
 LUPDh6NevVCnTgiCi82GOndGt92GHnwQrVmDjhxB58//QdKgn6QXM6V/9zRz
 bWgP4kL6Bukf0dJal3R/aXl5tHbutDR5MoqLQw5H86Sbk7AwlJiI5sxB+/ZZ
 8npjJU0olTa5pNwY6UhbyO9GAumbGdLwj+rquisnB82ciWJjr510MElKQk8/
 jY4dQ9ItkiZtlL4baDicaC35r5BklzanS1Mqq6pi5HKhW29tf+KNxbJQWhra
 sgX5fLGSZpyUvkk3XDytCRtZ0rp50ojqwkK7FixAUVGhJd9YunRBq1ahc+ci
 JE2plvbMM5zUEvIgbUqX7vPk51uaPt3E6m9FvkE6dECLF6OiIrukyR7pQHpL
 FLCk7JnSIxVnztg1bVrbFmlbJTISLVqEzp4NlzS3Qsp7XHolGPlvkf7ZQxp3
 sKwsUnPmILv99yPfIBERaPlydP58Z0njPpHWxFzhCRM6/+koLXDV1MTp5ZeN
 9r83+Qa57jq0aRMKBG6UtM4lqWODEpZRwA182A/+9WVW1rHouXOhoADsdoiN
 hZQUSE2F7t0hMhLOn4fCQjhyBH74AcrLoa6OkKJvX9iwAdLS/lgBD6fBwnzL
 shoUqLgJ0j9wu7cNnTPHZ+3dC7ffDuPGwahRhnRlJXg84PdDWBg4nRATY0qG
 7GzYsQPy8kKniGXB7Nnw+uvRgZiYWdtgwCTLegKkrUiZK/3+NL3zjkko8+ej
 gwfRrl0muQwaZLY2m+1iSdClCxo82Dzfuxfl5qKFC427QxVKnTujHTtsCgRu
 PyVlDJPOgHQgXOq71u3uqAkTkMuFvvsOpacbZVry4m7d0DPPoKNH0VtvoYSE
 0CkxfjyqrEyQNO01qSYc6eX7pKFVu3ej7dvRV1+hoUMvWrulYrej0aPRoUPo
 ww9RfHzoFvQXX1iSplRJB0circ24cOE6HT+OcnLQwIFtm+Dee004rVyJnM72
 V8BuN2EbCCQHpNFjkJbI40EFBWjs2LZPYFloyhQTTqNGhcYLgwahoiKbpOcP
 I/WX349eecUkjfaYICICrV2LduwITeXaowf6/HMkTZUNvufUKdiyBXy+Nu51
 9fD5YPNmSEqCIUPa552NUVwMJ04A5GADH19+afbw5mBZkJBg8sLEidCrl8kH
 wXDsmJlk7Fgztj1RU2MSrVSA48IFOHrUZNdgsNth+HBYudJkRMuCX3+FN9+E
 9etNMrsctbVw6BCMHw/x8eacfDliYowEM5jfD2VlTUdGURF4vXU4ysrgzJnm
 NU5OhhdegLvvvvhbVBQsX24skZnZ9Ljjx+GJJ8z4yxXo2ROWLYMePYLPW1sL
 e/bABx9caaRz50xl4PB6jZbBYFkweDCkpV35LD7ehFR2tnnZ5XC7jYWTk403
 GmPgQJg1i6uia1fz/pMnL/3d6YSICLBduGBiKhhsNlPEORxNP09MNN5oCj6f
 sVxT9VFk5NXJQ0NP6crfO3WCjh3BJpkYD4ZAwISY39/088JCU+g1hdpaM64p
 73i9cLUDFpi12dQaiI83HnDExhptgkGCb7+FnBwYOvTSZ243ZGUF3wC8XlNq
 33DDlc9yc+H9981u1pQilmUiY/t2Y6TGiI6Gm282/zs6dTJx1hxOn4YVK2Dp
 UrMLhYWZxfvuu2aRNWe9o0fNmIiISy15+jQsWtR0eDQ2XnW18WRjXH+9OaOA
 DerqHHruuZZlwIQEU7A99hi65RZTNlxtzJgx6OuvUWpq+2Rhmw3NmIGqq5GU
 JKQ+2rgxdG2TxERT5a5e3T7dja5dUVYW8nqRNE42GE5qqkn7oUBxMWRkwMMP
 m+24LQgLgyefNKdFn88Ceh1BWpHh8UQF2qMSDSZRUejtt00B1qfPtb3D4UBT
 p5rD1q5dyO/vFpCGjLFBxMdOZ39r1Ciz0EIBjwfWrjV/X3rJLOrWIDwcJk0y
 mTsry3jCbh/ghb/6kDwDpYX5P/8crpSU0HkBTG9182ZzcBo/HkVHX31McrJp
 w3//PVqyBD36KCori5X00GtSUXh9T2j9ytraVL36aug7cUlJ5rSWm4s2bkTT
 p6OUFHO3YFlm/qQkNGQIevZZtG+fkYkTTSMhI8NSXV3yKemNYdLhhrZKwU3w
 520//rjjjtmzTXkdSkREwF13wdSppkCsrTVJr7bWJLDISJOsKith504jp06Z
 MHK5Ogbi4iZsgzsmWdZfGhT4L1D4mvTM4k8/PWrNmwelpaFVokGRhATo189k
 5Lg4U3oUFprzRF6eyeSBgKle16+HYcPuroARabA632o4aJgw2u6Upri83mgt
 XYrCw0MbSq0RpxOtW4f8/kRJK1xSaccm+qObkfYPlmZWu912jRvX+tZKKMTh
 QAsWoIqKKElDPpGmx0hFTbtUUrj0Sbo0tCIvz6YHHmhZuRBK8tOno4ICh6RJ
 FdLBx6X04DEpVdRfcDyfLt3pOXzY3Cb+Hp4ICzPk8/MtSSM90parX3BcXA8V
 lvSneVK/6hMnbJo8+bddE06n6c8WFjokjaiW3m7ZFdNFJd5C+sUu/T1dGlFR
 UhKmVatMDzTU5Hv1Mv3VysoYSVMq6y1vNxftrYD0Un04fZYuPeXx+WK1e7cp
 j0Nx+RETg6ZNQwcOIL//eknDPpIOzjAcdreO/KXhJEs6dK80zyX1LXO7O2jD
 BtMAbmsJblkmA48ejbZuRWfPOiXdUyq94JLeiJa+psVh07wS2UjlkdLr/aWJ
 uwKBniWlpTHKzESzZqEBA0zd35I7tbAw1L27aSLPn4+ys1F5eZyknj9JszKl
 v9V/arCoRfxa8bHHR8Ay4JcIeG80ZAwC51N1dYedBQXF1vHjIj/fnJOLi6Gq
 yhwhG5cGFz/2gJQUG4mJ3WVZaV4IuGDUHpi7Hx4ClmJZ97fN8s175L369bF1
 pJQ2Rlp0WBorqaskSxUVqLjYdLwLC1FJCaqqqr/8Vw9JkyQtOyyNGCPtG2ne
 9e418fk/eTvqvDn2cb4AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTAtMTItMzBU
 MjI6NTQ6MTMtMDg6MDAvEZXTAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEwLTEy
 LTMwVDIyOjUzOjQ4LTA4OjAw9ndsiAAAAABJRU5ErkJggg==
 ====

Package: qtcw
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cute CW (Morse Code) Training Application
 CuteCW trains you in Morse Code using a step by step process,
 starting with basic recognition and advancing to full speed
 understanding.
XSBC-Bugtracker: https://github.com/hardaker/CuteCW/issues
XSBC-Maemo-Display-Name: Cute CW
XB-Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABGdBTUEAALGP
 C/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUw
 AADqYAAAOpgAABdwnLpRPAAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAAL
 EwAACxMBAJqcGAAAAAl2cEFnAAAAMAAAADAAzu6MVwAACbtJREFUaN7Fmnts
 lFUaxn/fzPQC0xZLaWkFXKuAF1oUqEEQRIFVuaiAXCNEIEgqlxVWl0UwsLjg
 BaNGos6qgKJ2F1gLAoHSRAmiWGmyAQHXLhQRbadpLaWXGcq003n2j9OGAp3S
 0o4+yZs28+V853kv57zvec9ncQ2QtgETgP+NhNUR0H815N8JuUA+UI7PJ2pq
 wLIgPBzCwy0gHugN3FUHcZ9Cycew3Atd98NBLOueVnOxWk46F1gDfAZsvw/2
 joaapyDXWVV10srL83PypHC7oaQEvF6orjYKdOgAUVGQmAjdukHv3ha9e4fT
 oUMfQVo5xL4Pj2TB4P2QDjyHZd14LbYNRn4JkiKlN3pKizOl1J+qqpKUk4OW
 LUPDh6NevVCnTgiCi82GOndGt92GHnwQrVmDjhxB58//QdKgn6QXM6V/9zRz
 bWgP4kL6Bukf0dJal3R/aXl5tHbutDR5MoqLQw5H86Sbk7AwlJiI5sxB+/ZZ
 8npjJU0olTa5pNwY6UhbyO9GAumbGdLwj+rquisnB82ciWJjr510MElKQk8/
 jY4dQ9ItkiZtlL4baDicaC35r5BklzanS1Mqq6pi5HKhW29tf+KNxbJQWhra
 sgX5fLGSZpyUvkk3XDytCRtZ0rp50ojqwkK7FixAUVGhJd9YunRBq1ahc+ci
 JE2plvbMM5zUEvIgbUqX7vPk51uaPt3E6m9FvkE6dECLF6OiIrukyR7pQHpL
 FLCk7JnSIxVnztg1bVrbFmlbJTISLVqEzp4NlzS3Qsp7XHolGPlvkf7ZQxp3
 sKwsUnPmILv99yPfIBERaPlydP58Z0njPpHWxFzhCRM6/+koLXDV1MTp5ZeN
 9r83+Qa57jq0aRMKBG6UtM4lqWODEpZRwA182A/+9WVW1rHouXOhoADsdoiN
 hZQUSE2F7t0hMhLOn4fCQjhyBH74AcrLoa6OkKJvX9iwAdLS/lgBD6fBwnzL
 shoUqLgJ0j9wu7cNnTPHZ+3dC7ffDuPGwahRhnRlJXg84PdDWBg4nRATY0qG
 7GzYsQPy8kKniGXB7Nnw+uvRgZiYWdtgwCTLegKkrUiZK/3+NL3zjkko8+ej
 gwfRrl0muQwaZLY2m+1iSdClCxo82Dzfuxfl5qKFC427QxVKnTujHTtsCgRu
 PyVlDJPOgHQgXOq71u3uqAkTkMuFvvsOpacbZVry4m7d0DPPoKNH0VtvoYSE
 0CkxfjyqrEyQNO01qSYc6eX7pKFVu3ej7dvRV1+hoUMvWrulYrej0aPRoUPo
 ww9RfHzoFvQXX1iSplRJB0circ24cOE6HT+OcnLQwIFtm+Dee004rVyJnM72
 V8BuN2EbCCQHpNFjkJbI40EFBWjs2LZPYFloyhQTTqNGhcYLgwahoiKbpOcP
 I/WX349eecUkjfaYICICrV2LduwITeXaowf6/HMkTZUNvufUKdiyBXy+Nu51
 9fD5YPNmSEqCIUPa552NUVwMJ04A5GADH19+afbw5mBZkJBg8sLEidCrl8kH
 wXDsmJlk7Fgztj1RU2MSrVSA48IFOHrUZNdgsNth+HBYudJkRMuCX3+FN9+E
 9etNMrsctbVw6BCMHw/x8eacfDliYowEM5jfD2VlTUdGURF4vXU4ysrgzJnm
 NU5OhhdegLvvvvhbVBQsX24skZnZ9Ljjx+GJJ8z4yxXo2ROWLYMePYLPW1sL
 e/bABx9caaRz50xl4PB6jZbBYFkweDCkpV35LD7ehFR2tnnZ5XC7jYWTk403
 GmPgQJg1i6uia1fz/pMnL/3d6YSICLBduGBiKhhsNlPEORxNP09MNN5oCj6f
 sVxT9VFk5NXJQ0NP6crfO3WCjh3BJpkYD4ZAwISY39/088JCU+g1hdpaM64p
 73i9cLUDFpi12dQaiI83HnDExhptgkGCb7+FnBwYOvTSZ243ZGUF3wC8XlNq
 33DDlc9yc+H9981u1pQilmUiY/t2Y6TGiI6Gm282/zs6dTJx1hxOn4YVK2Dp
 UrMLhYWZxfvuu2aRNWe9o0fNmIiISy15+jQsWtR0eDQ2XnW18WRjXH+9OaOA
 DerqHHruuZZlwIQEU7A99hi65RZTNlxtzJgx6OuvUWpq+2Rhmw3NmIGqq5GU
 JKQ+2rgxdG2TxERT5a5e3T7dja5dUVYW8nqRNE42GE5qqkn7oUBxMWRkwMMP
 m+24LQgLgyefNKdFn88Ceh1BWpHh8UQF2qMSDSZRUejtt00B1qfPtb3D4UBT
 p5rD1q5dyO/vFpCGjLFBxMdOZ39r1Ciz0EIBjwfWrjV/X3rJLOrWIDwcJk0y
 mTsry3jCbh/ghb/6kDwDpYX5P/8crpSU0HkBTG9182ZzcBo/HkVHX31McrJp
 w3//PVqyBD36KCori5X00GtSUXh9T2j9ytraVL36aug7cUlJ5rSWm4s2bkTT
 p6OUFHO3YFlm/qQkNGQIevZZtG+fkYkTTSMhI8NSXV3yKemNYdLhhrZKwU3w
 520//rjjjtmzTXkdSkREwF13wdSppkCsrTVJr7bWJLDISJOsKith504jp06Z
 MHK5Ogbi4iZsgzsmWdZfGhT4L1D4mvTM4k8/PWrNmwelpaFVokGRhATo189k
 5Lg4U3oUFprzRF6eyeSBgKle16+HYcPuroARabA632o4aJgw2u6Upri83mgt
 XYrCw0MbSq0RpxOtW4f8/kRJK1xSaccm+qObkfYPlmZWu912jRvX+tZKKMTh
 QAsWoIqKKElDPpGmx0hFTbtUUrj0Sbo0tCIvz6YHHmhZuRBK8tOno4ICh6RJ
 FdLBx6X04DEpVdRfcDyfLt3pOXzY3Cb+Hp4ICzPk8/MtSSM90parX3BcXA8V
 lvSneVK/6hMnbJo8+bddE06n6c8WFjokjaiW3m7ZFdNFJd5C+sUu/T1dGlFR
 UhKmVatMDzTU5Hv1Mv3VysoYSVMq6y1vNxftrYD0Un04fZYuPeXx+WK1e7cp
 j0Nx+RETg6ZNQwcOIL//eknDPpIOzjAcdreO/KXhJEs6dK80zyX1LXO7O2jD
 BtMAbmsJblkmA48ejbZuRWfPOiXdUyq94JLeiJa+psVh07wS2UjlkdLr/aWJ
 uwKBniWlpTHKzESzZqEBA0zd35I7tbAw1L27aSLPn4+ys1F5eZyknj9JszKl
 v9V/arCoRfxa8bHHR8Ay4JcIeG80ZAwC51N1dYedBQXF1vHjIj/fnJOLi6Gq
 yhwhG5cGFz/2gJQUG4mJ3WVZaV4IuGDUHpi7Hx4ClmJZ97fN8s175L369bF1
 pJQ2Rlp0WBorqaskSxUVqLjYdLwLC1FJCaqqqr/8Vw9JkyQtOyyNGCPtG2ne
 9e418fk/eTvqvDn2cb4AAAAldEVYdGRhdGU6Y3JlYXRlADIwMTAtMTItMzBU
 MjI6NTQ6MTMtMDg6MDAvEZXTAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDEwLTEy
 LTMwVDIyOjUzOjQ4LTA4OjAw9ndsiAAAAABJRU5ErkJggg==
 ====
